* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#container {
    background-color: #212121;
    border: 5px solid;
}
.box {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    color: white;
    
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}
#green {
    background-color: green;
}